<!--编辑法官工作室视图-->
<link href="~/Areas/Admin/Content/icheck/skins/square/blue.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/icheck/icheck.min.js"></script>
<style>
    #tjPerson li:hover {
        background-color: #5bc0de;
    }
</style>
@using EFModels;
@model JudgeStudio
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">添加法官工作室</h4>
        </div>
        <!--主体内容-->
        <div class="modal-body">
            <form class="form-horizontal" role="form" id="editFrom">
                <input  type="hidden" name="ID" value="@Model.ID"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入法官工作室名称" name="sJobName" value="@Model.sJobName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">排序</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" placeholder="请输入法官工作室排序" name="iRoomOrder" value="@Model.iRoomOrder">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="padding-top:0">状态选择</label>
                    <div class="col-sm-10">
                        <label>开放<input class="iState" name="iState" type="radio" value="True"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label>关闭<input class="iState" name="iState" type="radio" value="False"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">选法官</label>
                    <div class="col-sm-10">
                        <div class="btn-group">
                            <input type="text" class="form-control" placeholder="法官名字搜索" id="iUserId" style="width:80%;float:left" value="@ViewBag.sRealName">
                            <input type="hidden" name="iUserId" value="@Model.iUserId">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown" style="float:left">
                                <span class="caret"></span>
                                <span class="sr-only">切换下拉菜单</span>
                            </button>
                            <ul id="tjPerson" class="dropdown-menu" role="menu" style="overflow:auto;height:300px;min-width:218px;"></ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--主体内容-->
        <div class="modal-footer" style="padding:10px;">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button id="ok" type="button" class="btn btn-primary">确认提交</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.iState').iCheck({
            labelHover: false,
            cursor: true,
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%'
        });
        var iState = '@Model.iState';
        if (iState == "True") $('.iState').eq(0).iCheck('check');
        else $('.iState').eq(1).iCheck('check');

        var modal = new myBootstarp();

        LoadUser();
        function LoadUser(searchText) {
            //加载调解员数据
            modal.Ajax("@(ViewData["Mulu"])/Admin/TjCase/UserList", { searchText: searchText }, function (r) {
                var rows = r.data;
                var html = [];
                $(rows).each(function () {
                    html.push("<li data-id="+this.ID+">");
                    html.push('<img style="width:70px;height:90px;margin-left:10px;margin-top:5px;margin-right:10px;" src="' +"@(ViewData["Mulu"])"+ this.UserPic + '" /><span>'+this.RealName+'</span>');
                    html.push("</li>");
                    html.push('<li class="divider"></li>');
                });
                $('#tjPerson').append(html.join(''));
                $('.btn-group').remove("open");
                //绑定选择事件
                $('#tjPerson li').on("click", function () {
                    var name = $(this).find('span').text();
                    var ID = $(this).attr("data-id");
                    $('#iUserId').val(name);
                    $('#iUserId').next().val(ID);
                });
            });
        }

        //绑定搜索框
        $('#iUserId').on("input", function () {
            var search = $(this).val();
            $('#tjPerson').html("");
            LoadUser(search);
            $('.btn-group').addClass("open");
        });


        //编辑操作
        $('#ok').on("click", function () {
            var bootstrapValidator = $("#editFrom").data('bootstrapValidator');
            bootstrapValidator.validate();
            var res = bootstrapValidator.isValid();
            if (res) {//验证通过
                if ($('input[name=iState]:checked').length == 0)
                    return modal.alert("请选择工作室状态");
                var iUserId = $('#iUserId').next().val();
                var RealName = $('#iUserId').val();
                if (iUserId.length == 0 || RealName.length == 0) return modal.alert("请选择法官");
                var params = $("#editFrom").serializeArray().toObject();
                params.RealName = RealName;

                $('#ok').prop("disabled", true);
                modal.Ajax("@(ViewData["Mulu"])/Admin/JudgeStudio/Update", params, function (r) {
                    modal.alert("编辑成功");
                    $('#JudgeStudio').datagrid('reload');
                    modal.hideModal();
                });
            }
        });
        //表单验证
        $('#editFrom').bootstrapValidator({
            //live: 'disabled',
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                sJobName: {
                    validators: {
                        notEmpty: {
                            message: '法官工作室名称不能为空'
                        }
                    }
                },
                iRoomOrder: {
                    validators: {
                        notEmpty: {
                            message: '法官工作室排序不能为空'
                        }
                    }
                },
            }
        });
    });
</script>

