@{
    ViewBag.Title = "法庭管理";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_EuiAndBoot.cshtml";
}
<script src="~/Scripts/mylib/myboot.js"></script>
<script src="~/Scripts/plug-in/picture/upload.js"></script>
<table id="Laws"></table>
<div id="Laws_toolbar" style="padding:8px;">
    <form id="search">
        <button type="button" class="btn btn-success btn-sm laws_add">添加法庭</button> &nbsp;
        <button type="button" class="btn btn-danger  btn-sm laws_cancel">删除法庭</button>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <span>模糊查询:</span><input type="text" class="form-control" placeholder="法庭名称"
                                 style="width:200px;height:30px;vertical-align:bottom;display:inline-block">
        <button type="button" class="btn btn-default  btn-sm searchText">查 询</button>
    </form>
</div>
<script type="text/javascript">
    $(function () {

        var modal = new myBootstarp();

        //模糊查询
        $('.searchText').on("click", function () {
            var searchText = $('#search input').val();
            $('#Laws').datagrid({
                queryParams: {
                    searchText: searchText
                }
            });
        });

        //添加操作
        $('.laws_add').on("click", function () {
            modal.creatModal("@(ViewData["Mulu"])/Admin/Laws/Add");
        });

        //编辑操作
        function lawsUpdate(ID) {
            modal.creatModal("@(ViewData["Mulu"])/Admin/Laws/Edit?iLawId=" + ID);
        }

        //删除操作
        $('.laws_cancel').on("click", function () {
            var selected = $('#Laws').datagrid('getSelections');
            if (selected.length>0) {
                var array = [];
                $(selected).each(function () {
                    array.push(this.ID);
                });
                modal.CancelConfirm("确认要删除所选择的数据", function () {
                    modal.Ajax("@(ViewData["Mulu"])/Admin/Laws/Cancel", { Ids: array.join() }, function (r) {
                        $('#Laws').datagrid("reload");
                        modal.tipAlert("删除成功", 800);
                    });
                });
            }
            else {
                modal.tipAlert("请选择一条数据进行操作!");
            }
        });

        /*!
        * method:法庭数据列表(datagrid)的绑定
        */
        $('#Laws').datagrid({
            fit:true,
            url: '@(ViewData["Mulu"])/Admin/Laws/List',
            toolbar: $('#Laws_toolbar'),
            fitColumns:true,
            rownumbers:true,
            striped: true,
            pagination: true,
            pageSize:20,
            loadMsg: "正在加载...",
            columns: [[
                //{ field: 'ID', title: '法庭ID', align: 'center', sortable: true, width: 80 },
                { field: 'sLawName', title: '法庭名称', align: 'center', sortable: true, width: 120 },
                {
                    field: 'bLawState', title: '状态', align: 'center', sortable: true, width: 80, formatter: function (value) {
                        if (value) return "<span style='color:red'>关闭</span>";
                        else return "<span style='color:green'>开放</span>";
                    }
                },
               // { field: 'iLawOrder', title: '法庭排序', align: 'center', sortable: true, width: 80 },
                {
                    field: 'ds', title: '操作', align: 'center', width: 100, formatter: function (value, rows) {
                        var html = []
                        html.push('<button type="button" class="btn btn-info btn-sm Laws_edit" data-id="' + rows.ID + '">编 辑</button>&nbsp&nbsp');
                        html.push('<button type="button" class="btn btn-danger btn-sm Laws_delete" data-id="' + rows.ID + '">删 除</button>');
                        return html.join('');
                    }
                },
            ]],
            onLoadSuccess: function () {
                $('.Laws_edit').on("click", function (event) {
                    event.stopPropagation();
                    var ID = $(this).attr("data-id");
                    lawsUpdate(ID);
                });

                //删除事件绑定
                $('.Laws_delete').on("click", function (event) {
                    event.stopPropagation();
                    var ID = $(this).attr("data-id");
                    modal.Confirm("确认要删除这条数据?", function () {
                        modal.Ajax("@(ViewData["Mulu"])/Admin/Laws/Cancel", { Ids: ID }, function (r) {
                            $('#Laws').datagrid("reload");
                            modal.tipAlert("删除成功", 800);
                        });
                    });
                });

            }
        });
    });

</script>